/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 0.875rem;
    line-height: 1.57;
    color: #2C2A29;
    background: #fff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
    font-weight: 400;
}

p {
    margin-bottom: 16px;
}

/* Sections */
.section {
    margin-bottom: 40px;
}

.section__intro {
    max-width: 810px;
    margin: 0 auto 57px;
    text-align: center;
}

.section__title {
    font-family: 'Lora', serif;
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 27px;
}

.section__slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 0 18px;
}

.slider__container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider__item {
    min-width: 50%;
    transition: transform 0.5s ease-in-out;
    padding: 0 2px;
}

.slider__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

.section__grid {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.grid__item--text {
    padding: 20px 20px 28px 20px;
    background: #F4F0EA;
    border-radius: 16px;
}

.grid__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

.grid__title {
    font-size: 2rem;
    line-height: 1.3125;
    margin: 0 0 16px;
}

.grid__subtitle {
    font-size: 1.125rem;
    line-height: 1.6;
    margin: 0 0 8px;
}

/* Style for desktop */
@media (min-width: 1024px) {
    body {
        font-size: 1rem;
        line-height: 1.375;
    }

    .container {
        padding: 0 32px;
    }

    .section__intro {
        margin-bottom: 80px;
    }

    .section__title {
        font-size: 2.5rem;
        line-height: 1.35;
        margin-bottom: 46px;
    }

    .section__slider {
        margin-bottom: 56px;
    }

    .slider__item {
        padding: 0 16px;
    }


    .order__lg-first {
        order: -1;
    }

    .order__lg-last {
        order: 2;
    }

    .section__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        align-items: flex-end;
    }

    .grid__item {
        height: 100%;
    }

    .grid__item--text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 24px;
        padding: 48px;
    }

    .grid__title {
        font-size: 4rem;
        line-height: 1.15625;
    }

    .grid__subtitle {
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .grid__image {
        border-radius: 24px;
    }
}
